.words-list {
  &__item-wrapper {
    display: flex;
    color: #333;

    & > * {
      align-self: center;
    }
  }

  &__item {
    display: inline-block;
    flex: 1;
  }

  &__controls {
    flex: 0;
    white-space: nowrap;
  }

  &__word {
    white-space: normal;
  }
}
